@charset "UTF-8";
@media screen and (min-width: 1025px) {
  .container_about {
    width: 100%;
    background: #F7F7F7;
  }
  .container_about .about_company {
    display: grid;
    width: 60%;
    margin: 0 20% 0% 20%;
    grid-template-columns: 1fr 30%;
    grid-template-rows: min-content 1fr min-content;
    background: #F7F7F7;
  }
  .container_about .about_company .about_company_header {
    grid-area: 1/1/2/3;
    color: var(--colors-black-text, #222);
    font-family: Nunito Sans;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 800;
    line-height: 150%; /* 2.625rem */
    text-transform: uppercase;
    text-align: center;
  }
  .container_about .about_company .about_company_text {
    grid-area: 2/1/3/2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
  }
  .container_about .about_company .about_company_text .company_profile,
  .container_about .about_company .about_company_text .company_ogrn,
  .container_about .about_company .about_company_text .company_address {
    width: minmax;
    margin: 3% 0% 3% 0;
    border-bottom: 1px solid rgb(141, 38, 141);
    overflow-wrap: break-word;
    color: var(--colors-black-text, #222);
    text-align: left;
    font-family: Nunito Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 1.2rem */
  }
  .container_about .about_company .about_company_foto {
    grid-area: 2/2/3/3;
  }
  .container_about .about_company .about_company_foto .container_about_foto {
    width: 90%;
    margin: 5% 5% 5% 5%;
    box-shadow: 1vw 1vw 1vw #B07C4B;
    transition: 1s; /* Время эффекта */
  }
  .container_about .about_company .about_company_foto .container_about_foto .about_foto {
    width: 100%;
  }
  .container_about .about_company .container_about_foto:hover {
    transform: scale(1.2); /* Увеличиваем масштаб */
  }
  .container_about .about_company .button_wrap {
    grid-area: 3/1/4/3;
    display: flex;
    height: -moz-min-content;
    height: min-content;
    flex-direction: row;
    justify-content: center;
    margin: 2% 0 5% 0;
  }
  .container_about .about_company .button_wrap .btn_history,
  .container_about .about_company .button_wrap .btn_info {
    align-content: center;
    margin: 0% 2% 0% 2%;
  }
}
@media screen and (min-width: 451px) and (max-width: 1024px) {
  .container_about {
    width: 100%;
    background: #F7F7F7;
  }
  .container_about .about_company {
    min-width: 80%;
    margin: 0 10% 0 10%;
    display: grid;
    grid-template-columns: 1fr 30%;
    grid-template-rows: min-content 1fr min-content;
    background: #F7F7F7;
    gap: 10px;
  }
  .container_about .about_company .about_company_header {
    grid-area: 1/1/2/3;
    color: var(--colors-black-text, #222);
    font-family: Nunito Sans;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 800;
    line-height: 150%; /* 2.625rem */
    text-transform: uppercase;
    text-align: center;
  }
  .container_about .about_company .about_company_text {
    grid-area: 2/1/3/2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
  }
  .container_about .about_company .about_company_text .company_profile,
  .container_about .about_company .about_company_text .company_ogrn,
  .container_about .about_company .about_company_text .company_address {
    width: 80%;
    margin: 3% 5% 3% 0;
    border-bottom: 1px solid rgb(141, 38, 141);
    overflow-wrap: break-word;
    color: var(--colors-black-text, #222);
    text-align: left;
    font-family: Nunito Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 1.2rem */
  }
  .container_about .about_company .about_company_foto {
    grid-area: 2/2/3/3;
  }
  .container_about .about_company .about_company_foto .container_about_foto {
    width: 90%;
    margin: 5% 5% 5% 5%;
    box-shadow: 1vw 1vw 1vw #B07C4B;
    transition: 1s; /* Время эффекта */
  }
  .container_about .about_company .about_company_foto .container_about_foto .about_foto {
    width: 100%;
  }
  .container_about .about_company .container_about_foto:hover {
    transform: scale(1.2); /* Увеличиваем масштаб */
  }
  .container_about .about_company .button_wrap {
    grid-area: 3/1/4/3;
    display: flex;
    height: -moz-min-content;
    height: min-content;
    flex-direction: row;
    justify-content: center;
    margin: 3% 0 3% 0%;
  }
  .container_about .about_company .button_wrap .btn_history,
  .container_about .about_company .button_wrap .btn_info {
    align-content: center;
    margin: 0% 2% 0% 2%;
  }
}
@media screen and (max-width: 450px) {
  .container_about {
    width: 100vw;
    background: #F7F7F7;
  }
  .container_about .about_company {
    min-width: 100%;
    margin: 0 0 0 0;
    display: flex;
    flex-direction: column;
    background: #F7F7F7;
    gap: 10px;
  }
  .container_about .about_company .about_company_header {
    color: var(--colors-black-text, #222);
    font-family: Nunito Sans;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 800;
    line-height: 150%; /* 2.625rem */
    text-transform: uppercase;
    text-align: center;
  }
  .container_about .about_company .about_company_text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: end;
  }
  .container_about .about_company .about_company_text .company_profile,
  .container_about .about_company .about_company_text .company_ogrn,
  .container_about .about_company .about_company_text .company_address {
    width: 90%;
    margin: 3% 5% 0 0;
    overflow-wrap: break-word;
    color: var(--colors-black-text, #222);
    text-align: left;
    font-family: Nunito Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 1.2rem */
  }
  .container_about .about_company .about_company_foto .container_about_foto {
    width: 90%;
    margin: 0 5% 0 5%;
  }
  .container_about .about_company .about_company_foto .container_about_foto .about_foto {
    width: 100%;
  }
  .container_about .button_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: -moz-min-content;
    height: min-content;
    margin-bottom: 3%;
  }
  .container_about .button_wrap .btn_history,
  .container_about .button_wrap .btn_info {
    margin-top: 3%;
  }
}/*# sourceMappingURL=about.css.map */