.article {
  background-color: $white;
}

.article_container {
  margin: 0 auto;
  padding: 0 10px;
}

.article__position {
  padding: 4.1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article_title {
  text-align: center;
  color: $royal_blue;
  font-size: 1.75rem;
  font-weight: 800;
  font-style: normal;
  text-transform: uppercase;
}

.article__text {
  color: black;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
}

.article_block {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  max-width: 100%;
  margin-bottom: 2.8rem;
  gap: 0.6rem;
}

.article__item {
  position: relative;
  overflow: hidden;
  max-width: 40%;
  min-height: 40rem;
  flex-shrink: 0;
  box-shadow: 0 0 1rem 0 $royal_blue;
  border-radius: 5px;
}

.article_pic_title {
  position: relative;
  color: black;
  text-align: start;
  font-size: 16px;
  line-height: 150%;
  font-weight: 800;
  margin-top: 10px;
  margin-bottom: 15px;
}
.article_pic_title a {
  color: black;
  text-decoration: none;
}
.article_pic_title a:hover {
  color: $royal_blue;
}

.article_time {
  position: relative;
  color: black;
  text-align: start;
  font-size: 12px;
  margin-bottom: 15px;
}

.article_content {
  position: relative;
  color: black;
  text-align: start;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 15px;
}
.article__button {
  width: 100px;
  border-radius: 8px;
  color: white;
  text-align: center;
  font-size: 16px;
  background-color: royalblue;
  padding: 8px 16px;
  margin: 20px auto;
  line-height: 20px;
}

@media screen and (max-width: 1023px) {
  .article_block {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}

@media screen and (max-width: 991px) {
  .article_block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 575px) {
  .article_block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 350px) {
  .article_block {
    display: none;
  }
}
