.experts {
    height: 46.1875rem;
flex-shrink: 0;
background: #F7F7F7;
display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}
.list__of__experts{
   
height: 25.875rem;
flex-shrink: 0;
display: flex;
gap: 2rem;

}
.ourexperts{
    color: var(--colors-black-text, #222);
font-family: Nunito Sans;
font-size: 1.75rem;
font-style: normal;
font-weight: 800;
line-height: 150%; /* 2.625rem */
text-transform: uppercase;
}
.textexperts {
    color: var(--colors-black-text, #222);
text-align: center;
font-family: Nunito Sans;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 1.2rem */
}
@media screen and (min-width: 769px) and (max-width: 1023px) {
    
    .experts {
        height: 160rem;
    flex-shrink: 0;
    background: #F7F7F7;
    display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }
    .list__of__experts{
        
    height: 160rem;
    
    display: list-item;
    gap: 2rem;
    
    }
}
@media screen and (max-width: 768px) {
    
    .experts {
        height: 160rem;
    flex-shrink: 0;
    background: #F7F7F7;
    display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }
    .list__of__experts{
        
    height: 160rem;
    
    display: list-item;
    gap: 2rem;
    
    }
    
}