.experts {
    // height: 46.1875rem;
    // min-height: 100%;
    max-width:1800px;
    // flex-shrink: 0;
    background: #F7F7F7;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}
.list__of__experts{
    display: flex;
    justify-content: space-around;
    min-width: 100%;

}
.ourexperts{
    color: var(--colors-black-text, #222);
    font-family: Nunito Sans;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 800;
    line-height: 150%; /* 2.625rem */
    text-transform: uppercase;
}
.textexperts {
    color: var(--colors-black-text, #222);
    text-align: center;
    font-family: Nunito Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 1.2rem */
}
.card-text{
    text-align: center;
    font-weight: 700;
    line-height: 120%; /* 19.2px */
}
*{
    outline:1px solid red;
}

.card-body {
    display: block;
    position: relative;
    max-width: 100%;
    max-height: 100%;
    padding: 0;
}
.card-text__block-back{
    display: block;
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    background-color:#fff;
    text-align: center;
    font-size:0.9em;
    padding: 1em;
    top: 0;
}
.card .card-text__block-back {
    transform: rotateY(90deg);
}
.card .card-text__block-back,
.card .card-body {
    transition: 1s;
}
.card:hover .card-text__block-back {
    transform: rotateY(0deg);
    transition-delay: 0.5s;
}
.card:hover .card-body{
    transform: rotateY(-90deg);
}
.folder {
    display: block;
    position: relative;
    max-width: 100%;
    transition: 1s;
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
    
    .experts {
        height: 160rem;
    flex-shrink: 0;
    background: #F7F7F7;
    display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }
    .list__of__experts{
        
    height: 160rem;
    
    display: list-item;
    gap: 2rem;
    
    }
}
@media screen and (max-width: 768px) {
    
    .experts {
        height: 160rem;
    flex-shrink: 0;
    background: #F7F7F7;
    display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }
    .list__of__experts{
        
    height: 160rem;
    
    display: list-item;
    gap: 2rem;
    
    }
    
}