.header {
  background-image: url(../images/men-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-size: cover;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 1024px){
  .logo {
    width: 5rem;
    height: 5rem;
  }
  .header_menu {
    position: absolute;
    top: 20px; /* Расположение сверху */
    left: 20px; /* Расположение слева */
    padding: 10px 20px; /* Отступы вокруг меню */
    border-radius: 5px;
    display: inline-flex;
    align-items: flex-start;
    top: 2rem;
    gap:1rem;
    left: 33rem;
  }
  .header_menu_link {
    color: $white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: "Asket Extended";
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
  }
  .center-g {
    font-size: 1.1rem;
    font-style: normal;
    font-weight:1000;
    top: 1.9rem;
    left: 8rem;
  }
  .ano-center {
    width:55rem;
    font-size: 2rem;
    font-weight: 300;
    line-height: 120%; /* 1.5rem */
    position: absolute;
    top:18rem;
    left: 4rem;
}
}
@media screen and (min-width: 769px) and (max-width: 1023px) {
  .header_menu {
    flex-direction: column;
    align-items: flex-start;
    top: 2rem;
    gap:1rem;
    left: 35rem;
  }
  .header_menu_link {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: 500;
  }
  .kvadrat-two {
    height: 15rem;
  }
  .ano-center {
    width:42rem;
    font-size: 2rem;
    font-weight: 500;
    line-height: 140%; /* 1.5rem */
    position: absolute;
    top:18rem;
    left: 4rem;
}
}
@media screen and (min-width: 320px) and (max-width:768px) {
  .ano-center {
    width: 17rem;
    font-size: 2rem;
    font-weight: 500;
    line-height: 140%; /* 1.5rem */
    top: 14rem;
    left: 4rem;
}
.header_menu_link {
  display: none;
}

}