body {
  margin: 0;
  padding: 0;
}
.header {
  background-image: url(../images/glavnoe.jpg);
  background-repeat: no-repeat;
  max-width: 100%;
  min-height: 100vh;
  background-size: cover;
  margin: 0;
  padding: 0;
  position: relative;
}
.fon {
  position: absolute;
  max-width: 100%;
  height: 11rem;
  background-color: $shadow;
}
.logo {
  position: absolute;
  width: 13rem;
  height: 8rem;
}

.header_menu {
  position: absolute;
  top: 20px; /* Расположение сверху */
  left: 20px; /* Расположение слева */
  padding: 10px 20px; /* Отступы вокруг меню */
  border-radius: 5px;
  display: inline-flex;
  align-items: flex-start;
  top: 2rem;
  gap:2rem;
  left: 42rem;
}
.header_menu_link {
  color: $black;
  font-family: "Asket Extended";
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-decoration: none;
}
.center-g {
  position: absolute;
  color: $black;
  font-family: "Asket Extended";
  font-size: 1.2rem;
  font-style: normal;
  font-weight:900;
  top: 1.9rem;
  left: 11rem;
}
.ano-center {
  color: $black;
  text-align: center;
  font-family: "Asket Extended";
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 120%; /* 1.5rem */
  position: absolute;
  top:23rem;
}
.kvadrat {
  width: 63rem;
  height: 7rem;
  display: inline-flex;
  padding: 0.25rem 0.5rem;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.25rem 0rem 0rem 0.25rem;
  background-color:rgba(240, 248, 255, 0.705);
  border-radius: 10px 100px / 120px;
  position: absolute;
  top: 22rem;
  left: 10rem;
}