.services{
    height: 60rem;
    flex-shrink: 0;
    background: #F7F7F7;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}
.ourservices{
    color: $royal_blue;
    font-family: "Asket Extended";
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 800;
    line-height: 150%; /* 2.625rem */
    text-transform: uppercase;
    width: 16.5625rem;
    height: 2.625rem;
    margin-top: 4rem;
}
.textservices{
    color: $golden;
text-align: center;
font-family: "Asket Extended";
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 1.2rem */
width: 57.5rem;
height: 2.375rem;
}
.container__services {
    width: 82.5rem;
height: 33.625rem;
flex-shrink: 0;
display: flex;
gap: 1.5rem;
justify-content: center;
    align-items: center;
}
.card-columns {
    -webkit-column-count: 3;
    column-count: 3
}
.cardone {
    box-shadow: 0 0 1rem 0 $royal_blue;
    
   
    border-radius: 5px;
}
.card-title:hover {
    position: relative;
    opacity: 1;
    transform: scale(1.1); 
}
.card-text {
    color: $royal_blue;
}


.card-title {
    font-family: "Asket Extended"; 
    color: $golden;
}
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.carousel-control-prev {
    margin-left: 4rem;
    margin-top: 19rem;
   
}
.carousel-control-next {
    margin-right: 4rem;
    margin-top: 19rem;
    

}
button {
    margin-bottom: 6.5rem;
}

@media screen and (min-width: 1024px) {
    #carouselExampleDark{
        display: none;
    }
}
@media screen and (min-width: 769px) and (max-width: 1023px) {
    .card-columns{
        display: none;
    }
    .textservices{
        color: $golden;
    text-align: center;
    font-family:"Asket Extended";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 1.2rem */
    width: 35rem;
    height: 2.375rem;
    }
    .experts {
        height: 160rem;
    flex-shrink: 0;
    background: #F7F7F7;
    display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }
    .list__of__experts{
        
    height: 160rem;
    
    display: list-item;
    gap: 2rem;
    
    }
}
@media screen and (max-width: 768px) {
    .card-columns {
        display: none;
    }
    .textservices{
        color: $golden;
    text-align: center;
    font-family: "Asket Extended";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 1.2rem */
    width: 15rem;
    height: 2.375rem;
    }
    .carousel-control-prev {
        margin-left: 4rem;
        margin-top: 19rem;
    position: absolute;
    }
    .carousel-control-next {
        margin-right: 4rem;
        margin-top: 19rem;
        position: absolute;
    
    }
    .card {
        position: relative;
    }
    .experts {
        height: 160rem;
    flex-shrink: 0;
    background: #F7F7F7;
    display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }
    .list__of__experts{
        
    height: 160rem;
    
    display: list-item;
    gap: 2rem;
    
    }
    
}